<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sibext.crashcatcher"
    android:versionCode="1"
    android:versionName="1.5.0" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/logo"
        android:label="@string/crash_catcher"
        android:theme="@android:style/Theme" >
        <meta-data
            android:name="@string/metadata_recipient_key"
            android:value="example@test.com" />

        <activity
            android:name="com.sibext.android.activity.CrashCatcherActivity"
            android:label="@string/crash_catcher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sibext.android.tools.CatchActivity" />
    </application>

</manifest>
